@model MVC.ECommerce.Models.ProduitViewModel
@{
    ViewBag.Title = Model.Libelle;
}

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Libelle</h1>
        </div>
        <div class="col-md-3">
                @Html.ActionLink("Modifier", "UpdateProduit", "Produit", new { id = @Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Supprimer", "DeleteProduit", "Produit", new { id = @Model.Id }, new { @class = "btn btn-danger" })
        </div>
    </div>
    <hr />
    <p>Prix : @Model.Prix €</p>
    <p>Stock : @Model.Stock</p>
    <p>Code : @Model.Code</p>
    <p>Description : @Model.Description</p>
</div>

